.restaurant-info { padding: 40px 20px;
     background-color: #f9f9f9; 
     text-align: center; } 
.restaurant-info h2 { font-size: 2em; margin-bottom: 20px; }
 .restaurant-info p { font-size: 1em; color: #555; }